<header>
  <nav>
    <div class="navigation">
      <ul class="navigation_list">
        <a class="app_title" href="/">Memory Lane</a>
        <a class='my_maps' href="/">My Maps</a>
        <a class="search" href="/widgets/api/search">New Map</a>
      </ul>
    </div>

    <div class="log_status">
        <% if (userId) { %>
          <p>Logged In As: <%=email%></p>
          <form method="POST" action="api/users/logout">
            <button type="submit">Logout</button>
          </form>
        <% } else { %>
          <a class='login' href="/api/users/login">Login</a>
          <a class='register' href="/api/users/register">Register</a>
        <% } %>
    </div>
  </nav>
</header>
