<!-- My_Map -->
`<article class="myMap_listing">

  <section class="myMaps-preview_image">
    <img class="myMap_image" src='https://upload.wikimedia.org/wikipedia/commons/a/aa/World_Map.jpg'>
  </section>

  <section class="myMaps_details">
    <h3 class="myMaps_title">Map Title</h3>
    <ul class="myMaps_details">
      <li>Tag1: </li>
      <li>Tag2: </li>
      <li>Tag3: </li>
    </ul>
    <footer class="myMaps_footer">
      <div class="myMaps_support">support information</div>
    </footer>
  </section>

</article>`


<!-- My_Profile -->
<form action="/api/users/password" method="post">
  <div>
    <div class="password_email">
      <label>email address</label>
      <input placeholder="email" type="email" name="email"/>
    </div>

    <div class="password_new">
      <label>new password</label>
      <input name="password_new"/>
    </div>

    <div class="password_confirm">
      <label>confirm your password</label>
      <input name="password_confirm"/>
    </div>
  </div>

  <div class="password_submit">
      <button>Submit</button>
  </div>
</form>
